body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

canvas {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.hidden {
  color: transparent;
  border: none;
  z-index: -1;
  position: absolute;
  outline: none;
  max-width: 9ch;
}

.hidden::placeholder {
  color: transparent;
}

canvas {
  z-index: 1;
}
